<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>My Movies Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  <ion-item>
    <ion-label> Select Serachtype </ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
  <!--with let we do an iteration for all the elements in the results
  also we want that each item can be click by the user to see the details source so
  with routeLink we go to the path that we define in movie-routing to go to the other page
  //-->
  <ion-item *ngFor = "let item of (results | async)" [routerLink]="['/','movies',item.imdbID]">
    <!--We set what we are going to show after the search
    we are going to display an image if exists
    //-->
    <ion-avatar slot="start"><!-- start slot it's to define the display position in this case in the left  //-->
      <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
    </ion-avatar>
    <ion-label text-wrap>
      <h2>{{item.Title}}</h2>
         {{item.Year}}
    </ion-label>
    <!--Icons form ionicons.com//-->
    <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
